/* .bg{
    background-image: url('../../assets/images/homepagebg.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
} */

.space{
    flex: 1 1 auto;
}

h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}
h6{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;

}
