<div class="container-fluid">
  <div class="row home">
    <div class="col-sm-7 p-3">
      <h5>Assignment Tracking System</h5>
    </div>
    <div class="col-sm-5 d-flex p-3">
      <h6 class="ps-3">Home</h6>
      <div class="dropdown">
        <h6 class="dropdown-toggle ps-5" data-bs-toggle="dropdown" aria-expanded="false">
          Login
        </h6>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="adminlogin">Admin</a></li>
          <li><a class="dropdown-item" href="#">Faculty</a></li>
          <li><a class="dropdown-item" href="#">Student</a></li>
        </ul>
      </div>

      <h6 class="ps-5">Aboutus</h6>
      <h6 class="ps-5">Contact us</h6>
    </div>
  </div>
</div>
<div class="row">
  <img src="../../assets/images/homepagebg.jpg" class="" width="100%">

</div>