<div class="container-fluid background">
  <div class="row  body">
    <div class="col-sm-4 m-auto">
      <h2>Assignment Tracking System</h2>
      <img src="../../assets/images/registrationbg.jpg" class="img-fluid rounded-start w-75">
    </div>
    <div class="col-sm-8">
      <div class="card mt-5 w-100">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/images/student.jpg" class="img-fluid rounded-start h-100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2> Student Registration</h2>
              <div class="row">
                <div class="wrapper container">
                  <form>

                    <div class="row">
                      <div class="col-sm-4">
                        <div class="input-field ">
                          <input type="text" required>
                          <label>HallTicket No </label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-field ">
                          <input type="text" required>
                          <label>FullName:</label>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <div class="input-field ">
                          <input type="text" required>
                          <label>Email Id:</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="input-field">
                          <input type="text" required>
                          <label>Mobile No </label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-field">
                          <input type="date">
                          <label>Date of Birth</label>
                        </div>
                      </div>

                      <div class="col-sm-4 w-25">
                        <!-- <div class="input-field">
                              <label>Gender</label>
                              <input type="radio" name="gender" value="male" required>male
                              <input type="radio" name="gender" value="female" required>female
                               </div> -->

                        <label for="">Gender:</label>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label" for="inlineRadio1">male</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label" for="inlineRadio2">female</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="input-field">
                          <input type="text" required>
                          <label>Branch</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-field">
                          <input type="text" required>
                          <label>Year</label>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <div class="input-field">
                          <input type="text" required>
                          <label>Address</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-8">
                          <div class="input-field">
                            <input type="file">
                            <label>Image</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-3">
                        <a href="#" class="btn btn-dark">Submit</a>
                        <a href="#" class="btn btn-dark  ms-3">Clear</a>
                        <a href="#" class="btn btn-dark ms-3">Cancel</a>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>