<div class="container-fluid">
    <div class="row m-5">
       <div class="col-sm-12 m-auto">
   <div class="table-responsive">
       <table class="table table-striped" >
           <thead>
               <tr>
                   <th>S.No</th>
                   <th>Subject</th>
                   <th>Question</th>
                   
               </tr>
           </thead>
           <tbody>
            <tr   *ngFor="let i of info">
            <td>{{i.facultyid}}</td>
            <td>{{i.subject}}</td>
            <td>{{i.question}}</td>
            </tr>
            
           </tbody>
       </table>
   </div>
   </div>
   </div>
</div>

