<div class="card w-50">
    <div class="card-header">
      ASSIGN MARKS
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
      <div class="did-floating-label-content">
            <input class="did-floating-input" type="text" placeholder=" ">
            <label class="did-floating-label">HallTicket No:</label>
          </div>
          </div>
          <div class="col-sm-6">
            <div class="did-floating-label-content">
                  <input class="did-floating-input" type="text" placeholder=" ">
                  <label class="did-floating-label">FullName</label>
                </div>
                </div>
          
          </div>
          <div class="row">
            <div class="col-sm-6">
      <div class="did-floating-label-content">
            <input class="did-floating-input" type="text" placeholder=" ">
            <label class="did-floating-label">Subject</label>
          </div>
          </div>
          <div class="col-sm-6">
            <div class="did-floating-label-content">
                  <input class="did-floating-input" type="text" placeholder=" ">
                  <label class="did-floating-label">Question</label>
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
              <div class="did-floating-label-content">
                    <input class="did-floating-input" type="text" placeholder=" ">
                    <label class="did-floating-label">Answer</label>
                  </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="did-floating-label-content">
                          <input class="did-floating-input" type="number" placeholder=" ">
                          <label class="did-floating-label">Marks</label>
                        </div>
                        </div>
                  
                  </div>
          
          </div>
          
          
      <a href="#" class="btn btn-primary bg-success">Submit</a>
    </div>
  </div>
