<div class="card w-50">
    <h5 class="card-header">Add Assignment</h5>
    <div class="card-body">
        <!-- <div class="did-floating-label-content">
            <input class="did-floating-input" type="text" placeholder=" ">
            <label class="did-floating-label">Faculty Id</label>
          </div>
          <div class="did-floating-label-content">
            <input class="did-floating-input" type="text" placeholder=" ">
            <label class="did-floating-label">Sale Price</label>
          </div>
          <div class="did-floating-label-content">
            <input class="did-floating-input" type="text" placeholder=" ">
            <label class="did-floating-label">question</label>
          </div> -->
          <div class="input-field ">
            <input type="text" required>
            <label>Faculty Id </label>
          </div>
          <div class="input-field ">
            <input type="text" required>
            <label>Subject</label>
          </div>
          <div class="input-field ">
            <input type="text" required>
            <label>Question:</label>
          </div>
      <a  class="btn btn-success m-auto">Add</a>
    </div>
  </div>