
      
  <div class="background ">

    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-sm-5">
          <img src="../../assets/images/assignment.png" class="img-fluid " alt="assignemnt image">
        </div>
        <div class="col-sm-7">
  
          <form   class="rounded  ms-5" [formGroup]="Assignemntform">
            <h2 class="m-4 title">Add Assignment</h2>
            <div class="input-group w-75 mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-check"></i></span>
              <input type="text" class="form-control" placeholder="FacultyId" aria-label="password"
                aria-describedby="basic-addon1" formControlName="facultyid">
                
            </div>
            <div class="input-group w-75 mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-journal-richtext"></i></span>
              <input type="text" class="form-control" placeholder="Subject" aria-label="password"
                aria-describedby="basic-addon1" formControlName="subject">
                
            </div>
            <div>
            <textarea  class="w-75 rounded  form-control" placeholder=" Question:" formControlName="question"></textarea>
          </div>
            </form>
           
            <div align="center">
              <button type="submit" class="btn btn-success btn-sm mt-3 me-5" (click)="addassignment()">Add</button>
            </div>
            
            
   