<!-- <div class="card w-50">
    <h5 class="card-header">Add Assignment</h5>
    <div class="card-body">
        <div class="input-field ">
            <input type="text" required>
            <label>Faculty Id </label>
          </div>
          <div class="input-field ">
            <input type="text" required>
            <label>Subject</label>
          </div>
          <div class="input-field ">
            <input type="text" required>
            <label>Question:</label>
          </div>
      <a  class="btn btn-success m-auto">Add</a>
    </div>
  </div> -->
  <div class="row font">
    <div class="col-sm-5 shadow">
      <div class ="row ">
        <h2 class="m-4 text-center">Add Assignment</h2>
      </div>
      <div class ="row m-4">
        <div class="input-field m-4">
          <input type="text" required>
          <label>Question: </label>
        </div>
      </div>
      <div class ="row m-4">
        <div class="input-field m-4">
          <input type="text" required>
          <label>Answer:</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3  m-auto mb-3">
        <button type="button" class="btn btn-dark">Dark</button></div>
      </div>
      
    </div>
  </div>