<div class="row">
<div class="col-sm-6">
<img src="../../assets/images/aboutus.jpg" class="rounded m-4" width="90%"></div>
<div class="col-sm-6">
    
    <p class="mt-5 pt-3"> Assignments are one of the best ways to track the progress of both students and teachers. Students can put their understanding to the test, while teachers can assess how well their lessons are being received. This assignment tracker management software eliminates the drudgery that comes with grading, and makes creating assignments a breeze.</p>
  <!-- <img src="../../assets/images/aboutus2.jpg"  class="rounded m-4 w-50" > -->
</div>


</div>
