
<div class="container-fluid">
         <div class="row m-5">
            <div class="col-sm-12 m-auto">
        <div class="table-responsive">
            <table class="table table-success table-striped table-bordered" >
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Faculty</th>
                        <th>Full Name</th>
                        <th>Gender</th>
                        <th>DOB</th>
                        <th>Phone No</th>
                        <th>Emil id</th>
                        <th>Branch</th>
                        <th>Year</th>
                        <th>Address</th>
                         <th>Photo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        </div>
        </div>
    </div>
    
