
<div class="container-fluid">
         <div class="row m-5">
            <div class="m-auto">
        <div class="table-responsive">
            <table class="table  table-striped shadow " >
                <thead>
                    <tr>
                       
                        <th>Hallticketno</th>
                        <th>FULL Name</th>
                        <th>Gender</th>
                        <th>DOB</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>Branch</th>
                        <th>Year</th>
                        <th>Address</th>
                         <th>Photo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  <tr   *ngFor="let f of data">
                    <td>{{f.hallticketno}}</td>
                    <td>{{f.fullname}}</td>
                    <td>{{f.gender}}</td>
                      <td>{{f.dateofbirth}}</td>
                    <td>{{f.mobileno}}</td>
                    <td>{{f.email}}</td>
                    <td>{{f.branch}}</td>
                    <td>{{f.year}}</td>
                    <td>{{f.address}}</td>
                    <td class="w-25"><img src={{f.image}} class="img-fluid w-25"></td>
                    <td><i class="bi bi-download"></i></td>
                    
                    

                  </tr>
                
                </tbody>  
            </table>
        </div>
       
        </div>
        </div>
    </div>
    
