
<!-- <div class="container-fluid">
         <div class="row m-5">
            <div class="m-auto">
        <div class="table-responsive">
            <table class="table  table-striped shadow " >
                <thead>
                    <tr>
                       
                        <th>Hallticketno</th>
                        <th>FULL Name</th>
                        <th>Gender</th>
                        <th>DOB</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>Branch</th>
                        <th>Year</th>
                        <th>Address</th>
                         <th>Photo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  <tr   *ngFor="let f of data">
                    <td>{{f.hallticketno}}</td>
                    <td>{{f.fullname}}</td>
                    <td>{{f.gender}}</td>
                      <td>{{f.dateofbirth}}</td>
                    <td>{{f.mobileno}}</td>
                    <td>{{f.email}}</td>
                    <td>{{f.branch}}</td>
                    <td>{{f.year}}</td>
                    <td>{{f.address}}</td>
                    <td class="w-25"><img src={{f.image}} class="img-fluid w-25"></td>
                    <td><i class="bi bi-download"></i></td>
                    
                    

                  </tr>
                
                </tbody>  
            </table>
        </div>
       
        </div>
        </div>
    </div> -->
    <div class="container-fluid">
      
          <div class="row">
              <div class="col-sm-6 mt-3" *ngFor="let f of data">
                  <div class="card bgm shadow " >
                 <div class="row">
                  <div class="col-sm-4 m-auto">
                      <div class=" bg1">
                          <img src="" class="card-img-top rounded-circle" alt="..."></div>
                          <hr>
                          <div class="d-flex pt-3">
                              
                              <i class="bi bi-download ps-4"></i>
  
                          </div>
                      </div>
                 <div class="col-sm-7">
                  <div class="row">
                      <div class="col-sm-8">
                          <h4 class="fn mb-0">{{f.fullname}}</h4>
                          <hr>
                      </div>
  
                      <div class="row ">
                          <div class="col-sm-5">
                              <p> Hallticketno :</p>
                          </div>
                          <div class="col-sm-7">
                              <p>{{f.hallticketno}}</p>
                          </div>
                      </div>
                      <div class="row ">
                          <div class="col-sm-4">
                              <p>Year:</p>
                          </div>
                          <div class="col-sm-8">
                              <p>{{f.year}}</p>
                          </div>
                      </div>
                  
                      <div class="row">
                          <div class="col-sm-4">
                              <p>Branch:</p>
                          </div>
                          <div class="col-sm-8">
                              <p>{{f.branch}}</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-4">
                              <p>Gender:</p>
                          </div>
                          <div class="col-sm-8">
                              <p>{{f.gender}}</p>
                          </div>
                      </div>
                     
                      <div class="row">
                          <div class="col-sm-4">
                              <p>Mbl no:</p>
                          </div>
                          <div class="col-sm-8">
                              <p>{{f.mobileno}}</p>
                          </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-4">
                                  <p>Email:</p>
                              </div>
                              <div class="col-sm-8">
                                  <p>{{f.email}}</p>
                              </div>
                              </div>
                      </div>
  
                  </div>
                 
              </div>
             
          </div>
  
      </div>
  </div>
  </div>
    
