<div class="card w-75">
  
<div class="row">
<div class="col-sm-5 profile p-5"  >
     <img src="{{data.image}}" class="w-50 ms-4 rounded-circle">
   
     
     <h4 class="ps-5">{{data.fullname}}</h4>
     
     <div class="row pt-5">
      <div class="col-sm-6">
      <p>Designation:</p>
      <button type="button" class="btn btn-info btn-sm mt-5"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editprofile(data)">Edit Profile

      </button>
      </div>
      <div class="col-sm-6">
       <p>{{data.designation}}</p>
      </div>
      
     </div>
  </div>
  <div class="col-sm-6 ps-5 info  ">
     <h4 class="pt-2">Profile Details</h4>
     <hr>
     <div class="row pb-3 pt-3">
      <div class="col-sm-4">
       Faculty Id:
      </div>
      <div class="col-sm-8">{{data.facultyid}}</div>
     </div>
      <div class="row pb-3">
      <div class="col-sm-4">
       Subject:
      </div>
      <div class="col-sm-8">{{data.subject}}</div>
     </div>
     <div class="row ">
      <div class="col-sm-4">
       Branch:
      </div>
      <div class="col-sm-8">
        <p>{{data.branch}}</p>
      </div>
     </div>
     <div class="row">
      <div class="col-sm-4">
       Email Id:
      </div>
      <div class="col-sm-8">
        <p>{{data.email}}</p>
      </div>
     </div>
     <div class="row">
      <div class="col-sm-4">
       Mobile No :
      </div>
      <div class="col-sm-8">
        <p>{{data.mobileno}}</p>
      </div>
     </div>
     <div class="row">
      <div class="col-sm-4">
       Year:
      </div>
      <div class="col-sm-8">
          1st
      </div>
     </div>
     <div class="row">
      <div class="col-sm-4">
       Gender:
      </div>
      <div class="col-sm-8">
        <p>female</p>
      </div>
     </div>
     <div class="row">
      <div class="col-sm-4">
       Address:
      </div>
      <div class="col-sm-8">
        <p>Knr</p>
      </div>
     </div>
  </div>

</div>
</div>
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg">
            <form [formGroup]="Facultyform" >
                <div class="modal-header m-auto">
                    <label>Faculty Id:</label>
                    <input type="text"  formControlName="facultyid">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row m-3">
                        <div class="col-sm-2">
                            <label><i class="bi bi-pencil-square"></i>Full Name:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="w-100" formControlName="fullname">
                        </div>
                        <div class="col-sm-6">
                            <label>Gender:</label>


                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male"
                                formControlName="gender">
                            <label class="form-check-label" for="inlineRadio1">male</label>

                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female"
                                formControlName="gender">
                            <label class="form-check-label" for="inlineRadio2">female</label>
                        </div>
                    </div>

                    <div class="row  m-3">
                        <div class="col-sm-2">
                            <label><i class="bi bi-envelope-at-fill"></i>Email Id:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="w-100" formControlName="email">
                        </div>
                        <div class="col-sm-2">
                            <label><i class="bi bi-telephone-fill"></i>Mobile No:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="w-100" formControlName="mobileno">
                        </div>
                    </div>

                    <div class="row  m-3">
                        <div class="col-sm-2">
                            <label><i class="bi bi-mortarboard-fill" ></i>Branch:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="w-100" formControlName="branch">
                        </div>
                        <div class="col-sm-2">
                            <label><i class="bi bi-book-half"></i>Subject:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="w-100" formControlName="subject">
                        </div>
                    </div>
                    <div class="row  m-3">
                        <div class="col-sm-2">
                            <label><i class="bi bi-calendar-event"></i>Year:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="date" class="w-100" formControlName="year">
                        </div>
                        <div class="col-sm-3">
                            <label><i class="bi bi-award-fill"></i>Designation:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="w-100" formControlName="designation">
                        </div>
                    </div>
                    <div class="row  m-3">
                        <div class="col-sm-2">
                            <label>Address:</label>
                        </div>
                        <div class="col-sm-4">
                            <textarea formControlName="address"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <label>Image:</label>
                            <input type="file" class="w-50" id="file" name="file"    formControlName="image">
                        </div>
                    <div class="col-sm-5">
                    <button type="submit" class="btn btn-success btn-sm" (click)="updateprofile()">submit</button>
                    <button type="button" class="btn btn-danger btn-sm ms-2">Cancel</button>
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>

