<div class="card w-75">
<div class="row">
  
  <div class="col-sm-5 profile p-5"  >
     <img src="../../assets/images/girl.png" class="w-50 ms-4">
     
     <h6 class="ps-5">{{data.fullname}}</h6>
     
     <div class="row pt-5">
      <div class="col-sm-6">
      <p>Designation:</p>
      </div>
      <div class="col-sm-6">
       <p>{{data.designation}}</p>
      </div>
     </div>
  </div>
  <div class="col-sm-6 ps-5 info  ">
     <h4>Profile Details</h4>
     <div class="row pb-3 pt-3">
      <div class="col-sm-4">
       Faculty Id:
      </div>
      <div class="col-sm-8">{{data.facultyid}}</div>
     </div>
      <div class="row pb-3">
      <div class="col-sm-4">
       Subject:
      </div>
      <div class="col-sm-8">{{data.subject}}</div>
     </div>
     <div class="row ">
      <div class="col-sm-4">
       Branch:
      </div>
      <div class="col-sm-8">
        <p>{{data.branch}}</p>
      </div>
     </div>
     <div class="row">
      <div class="col-sm-4">
       Email Id:
      </div>
      <div class="col-sm-8">
        <p>{{data.email}}</p>
      </div>
     </div>
     <div class="row">
      <div class="col-sm-4">
       Mobile No :
      </div>
      <div class="col-sm-8">
        <p>{{data.mobileno}}</p>
      </div>
     </div>
     <div class="row">
      <div class="col-sm-4">
       Year:
      </div>
      <div class="col-sm-8">
          1st
      </div>
     </div>
     <div class="row">
      <div class="col-sm-4">
       Gender:
      </div>
      <div class="col-sm-8">
        <p>female</p>
      </div>
     </div>
     <div class="row">
      <div class="col-sm-4">
       Address:
      </div>
      <div class="col-sm-8">
        <p>Knr</p>
      </div>
     </div>
  </div>

</div>
</div>

