<!-- <div class="card w-50">
    <div class="card-header">
      ASSIGN MARKS
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
      <div class="did-floating-label-content">
            <input class="did-floating-input" type="text" placeholder=" ">
            <label class="did-floating-label">HallTicket No:</label>
          </div>
          </div>
          <div class="col-sm-6">
            <div class="did-floating-label-content">
                  <input class="did-floating-input" type="text" placeholder=" ">
                  <label class="did-floating-label">FullName</label>
                </div>
                </div>
          
          </div>
          <div class="row">
            <div class="col-sm-6">
      <div class="did-floating-label-content">
            <input class="did-floating-input" type="text" placeholder=" ">
            <label class="did-floating-label">Subject</label>
          </div>
          </div>
          <div class="col-sm-6">
            <div class="did-floating-label-content">
                  <input class="did-floating-input" type="text" placeholder=" ">
                  <label class="did-floating-label">Question</label>
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
              <div class="did-floating-label-content">
                    <input class="did-floating-input" type="text" placeholder=" ">
                    <label class="did-floating-label">Answer</label>
                  </div>
                  </div>
                  
                  
                  </div>
          
          </div>
          
          
      <a href="#" class="btn btn-primary bg-success">Submit</a>
    </div>
  </div>
 -->
 
 <div class=" row container" >
  <div class=" col-sm-8 text-center shadow title" >Test
  <div class="row mb-2 ms-5 info">
    <div class="col-sm-9 bg-light rounded">
      
        <div class="input-field m-4 ">
          <input type="text" class="" required>
          <label>HallTicket No: </label>
        </div>
      </div>
    </div>
    <div class="row mb-2 ms-5  info">
      <div class="col-sm-9 bg-light rounded">
        
          <div class="input-field m-4 ">
            <input type="text" class="" required>
            <label>FullName: </label>
          </div>
        </div>
      </div>
      <div class="row mb-2 ms-5  info">
        <div class="col-sm-9 bg-light rounded">
          
            <div class="input-field m-4 ">
              <input type="text" class="" required>
              <label>Subject: </label>
            </div>
          </div>
        </div>
        <div class="row mb-2 ms-5  info">
          <div class="col-sm-9 bg-light rounded">
            
              <div class="input-field m-4 ">
                <input type="text" class="" required>
                <label>Question: </label>
              </div>
            </div>
          </div>
          <div class="row mb-2 ms-5  info" >
            <div class="col-sm-9 bg-light rounded">
              
                <div class="input-field m-4 ">
                  <input type="text" class="" required>
                  <label>Answer: </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 m-auto">
                <button class="btn btn-success">Submit</button>
              </div>
            </div>
           </div>
           </div>
  
 
