


<div class="container-fluid">
    <div class="row m-5">
       <div class="col-sm-12 m-auto">
   <div class="table-responsive">
       <table class="table table-success table-striped table-bordered" >
           <thead>
               <tr>
                  
                   <th>HallTicket No</th>
                   <th>Subject</th>
                   <th>Question</th>
                   <th>Answer</th>
                   <th>Marks</th>
                   <th>Action</th>
                   
               </tr>
           </thead>
           <tbody>
            <tr  *ngFor="let t of testdata">
            <th>{{t.hallticketno}}</th>
            <th>HallTicket No</th>
            <th>Subject</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Marks</th>
            <th>Action</th>
        </tr>

           </tbody>
       </table>
   </div>
   </div>
   </div>
</div>


