<div class=" container-fluid">
  <div class="row header ">
    <div class="col-sm-2 p-0 m-0 g-0 bg shadow">
      <div class="sidebar">
        <img src={{data.image}} class="img-fluid w-25 rounded-circle me-1">{{data.fullname}}
        <hr style="color:grey;">
       <a routerLink="viewstudents" class="p-4"><i class="bi bi-mortarboard-fill"></i>Students</a>
        <a class="p-4" routerLink="addasignments"><i class="bi bi-card-checklist"></i>Add Assignment</a>
        <a class="nav-link dropdown-toggle p-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-eye-fill"></i> view</a>
        <ul class="dropdown-menu bg-light">
          <li><a class="dropdown-item" routerLink="assignments">Assignment</a></li>
          <li><a class="dropdown-item" routerLink="answers">Student Answers</a></li>
        </ul>
        
       
        
        
        </div>
        </div>
        <div class="col-sm-10 content">
         <div class="row headbar bg shadow">
        <div class="col-sm-8 mt-4">
          <h5 class="text mt-2">Assignment Tracking System</h5>
        </div>
        <div class="col-sm-2 icon mt-3 ps-5">
          <i class="bi bi-bell-fill me-3"></i>
          <i class="bi bi-envelope-at-fill " ></i>
        </div>
       
        <div class="col-sm-2 profile ">
          <div class="text-center d-flex">
            <!-- <img src={{data.image}} class="rounded-circle" width="50%" height="50px"> -->
            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src={{data.image}} class="rounded-circle" width="40%" height="50px"> {{data.fullname}}</a>
            <ul class="dropdown-menu bg">
              <li><a class="dropdown-item" routerLink="facultyprofile">Profile</a></li>
             
              <li><a class="dropdown-item" routerLink="">Logout</a></li>
          
              
            </ul>
          </div>
        </div>
      </div>
      <div class="row p-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>