
label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
i{
    font-size:larger;
}
.edit{
    background-color: teal;
    border: none;
    color: white
    
}
.fn{
    margin-top: 10px;
}




