<div class="container-fluid">
    <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end m-3">
            <button class="btn btn-dark me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
                Faculty</button>
        </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-5 ms-4" *ngFor="let f of facultydata">
                <div class="card bgm shadow  mb-4" >
               <div class="row">
                <div class="col-sm-4 m-auto">
                    <div class=" bg1">
                        <img src="{{f.image}}" class="card-img-top rounded-circle" alt="..."></div>
                        <hr>
                        <div class="d-flex pt-3">
                            <i class="bi bi-pencil-square ps-3" data-bs-toggle="modal" data-bs-target="#exampleModal"(click)="editfaculty(f)"></i>
                            <i class="bi bi-trash3-fill ps-4" (click)="deletefaculty(f._id)" ></i>
                            <i class="bi bi-download ps-4"></i>

                        </div>
                    </div>
               <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-8">
                        <h4 class="fn mb-0">{{f.fullname}}</h4>
                        <hr>
                    </div>

                    <div class="row ">
                        <div class="col-sm-4">
                            <p> Faculty Id:</p>
                        </div>
                        <div class="col-sm-8">
                            <p>{{f.facultyid}}</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-4">
                            <p>Subject:</p>
                        </div>
                        <div class="col-sm-8">
                            <p>{{f.subject}}</p>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-sm-4">
                            <p>Branch:</p>
                        </div>
                        <div class="col-sm-8">
                            <p>{{f.branch}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p>Gender:</p>
                        </div>
                        <div class="col-sm-8">
                            <p>{{f.gender}}</p>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-4">
                            <p>Mbl no:</p>
                        </div>
                        <div class="col-sm-8">
                            <p>{{f.mobileno}}</p>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p>Email:</p>
                            </div>
                            <div class="col-sm-8">
                                <p>{{f.email}}</p>
                            </div>
                            </div>
                    </div>

                </div>
               
            </div>
           
        </div>

    </div>
</div> -->
  <div class="row">
    <div class="col-sm-3 mb-3" *ngFor="let f of facultydata">
<div class="card"style="width: 18rem;" >
   
<img src="{{f.image}}" class="card-img-top" height="150" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{f.fullname}}</h5>
      <div class="row">
        <div class="col-sm-6">
      <p><i class="bi bi-file-person-fill"></i>&nbsp;{{f.facultyid}}</p>
    
      <p><i class="bi bi-telephone-fill"></i>&nbsp;{{f.mobileno}}</p></div>
     
      <div class="col-sm-4">
     
      <p><i class="bi bi-briefcase-fill"></i> {{f.branch}}</p>
      <p> {{f.subject}}</p>
      </div></div>
      <p><i class="bi bi-envelope-fill"></i>&nbsp;{{f.email}}</p>
      <div class="d-flex pt-3">
        <i class="bi bi-pencil-square ps-3" data-bs-toggle="modal" data-bs-target="#exampleModal"(click)="editfaculty(f)"></i>
        <i class="bi bi-trash3-fill ps-4" (click)="deletefaculty(f._id)" ></i>
        <i class="bi bi-download ps-4"></i>

    </div>
    </div>
  </div>
  </div>
</div>

</div>

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg">
            <form [formGroup]="Facultyform" (ngSubmit)="onSubmit()">
                <div class="modal-header m-auto">
                    <label>Faculty Id:</label>
                    <input type="text"  formControlName="facultyid">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row m-3">
                        <div class="col-sm-2">
                            <label><i class="bi bi-pencil-square"></i>Full Name:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="w-100" formControlName="fullname">
                        </div>
                        <div class="col-sm-6">
                            <label>Gender:</label>


                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male"
                                formControlName="gender">
                            <label class="form-check-label" for="inlineRadio1">male</label>

                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female"
                                formControlName="gender">
                            <label class="form-check-label" for="inlineRadio2">female</label>
                        </div>
                    </div>

                    <div class="row  m-3">
                        <div class="col-sm-2">
                            <label><i class="bi bi-envelope-at-fill"></i>Email Id:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="w-100" formControlName="email">
                        </div>
                        <div class="col-sm-2">
                            <label><i class="bi bi-telephone-fill"></i>Mobile No:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="w-100" formControlName="mobileno">
                        </div>
                    </div>

                    <div class="row  m-3">
                        <div class="col-sm-2">
                            <label><i class="bi bi-mortarboard-fill"></i>Branch:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="w-100" formControlName="branch">
                        </div>
                        <div class="col-sm-2">
                            <label><i class="bi bi-book-half"></i>Subject:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="w-100" formControlName="subject">
                        </div>
                    </div>
                    <div class="row  m-3">
                        <div class="col-sm-2">
                            <label><i class="bi bi-calendar-event"></i>Year:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="w-100" formControlName="year">
                        </div>
                        <div class="col-sm-3">
                            <label><i class="bi bi-award-fill"></i>Designation:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="w-100" formControlName="designation">
                        </div>
                    </div>
                    <div class="row  m-3">
                        <div class="col-sm-2">
                            <label>Address:</label>
                        </div>
                        <div class="col-sm-4">
                            <textarea formControlName="address"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <label>Image:</label>
                            <input type="file" class="w-50" id="file" name="file"   formControlName="image">
                        </div>
                    <div class="col-sm-5">
                    <button type="submit" class="btn btn-success btn-sm ">submit</button>
                    <button type="button" class="btn btn-danger btn-sm ms-2">Cancel</button>
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>