@media only screen and (max-width: 600px) {
  .content{
    height: 900%;
  }
}



.header{
  color: black;
  background-color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{
  background-color:#e7e7e7;
  height: 800px;
}
.dropdown-item:hover{
  background-color:transparent;
  color:blue;
}
.space{
  flex: 1 1 auto;
}
.bg{
  background: transparent;
}
.sidebar {
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
    width: 215px;
  }
  /* .icons{
    font-size:xx-large;
  } */
  text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .sidebar a {
    display: block;
    
    color:aliceblue;
    text-decoration: none;
  }
  .sidebar a:hover {
    background-color: #555;
    color: white;
  }
  .name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  
  @media screen and (max-width: 500px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
 