<div class=" container-fluid page">
  <div class="row header ">
    <div class="col-sm-2 p-0 m-0 bg-dark shadow">
      <div class="sidebar">
        <img src="../../assets/images/girl.png" class="img-fluid w-50">
         <a routerLink="studentprofile" class="p-4"><i class="bi bi-mortarboard-fill"></i>Profile</a>
        <a class="p-4" routerLink="test"><i class="bi bi-card-checklist"></i>Test</a>
        <a routerLink="markslist" class="p-4"><i class="bi bi-mortarboard-fill"></i>Marks List</a>
        <a class="p-4" routerLink=""><i class="bi bi-card-checklist"></i>LogOut</a>
        </div>
       </div>
    <div class="col-sm-10 content">
      <div class="row shadow">
        <div class="col-sm-8 mt-4">
          <h5 class="text mt-2">Assignment Tracking System</h5>
        </div>
        <div class="col-sm-2  mt-4 ps-5">
          <i class="bi bi-power" routerLink="homepage">Logout</i>
        </div>
        <div class="col-sm-2">
          <div class="text-center">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../assets/images/girl.png" class="" width="50%" height="50px"> <br>Harichandana</a>
            <ul class="dropdown-menu bg">
              <li><a class="dropdown-item" routerLink="facultyprofile">Profile</a></li>
              <li><a class="dropdown-item" routerLink="">Edit</a></li>
              <li><a class="dropdown-item" routerLink="">Delete</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="row p-5 view">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>